name: test

on:
    push:
        paths-ignore:
            - '**.md'
            - 'LICENSE'

jobs:
  luacheck:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/mah0x211/lua-ci:latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
    -
      name: Install Tools
      run: luarocks install luacheck
    -
      name: Run luacheck
      run: |
        luacheck .

  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mah0x211/lua-ci:latest
    services:
      postgres:
        image: postgres:14.3
        env:
        #   POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        lua-version:
          - "5.1."
          - "5.2."
          - "5.3."
          - "5.4."
          - "lj-v2.1"
    steps:
    -
      name: Switch Lua Version
      run: |
        lenv -g use ${{ matrix.lua-version }}
        lua -v || true
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    -
      name: Install Tools
      run: |
        luarocks install luacov
        luarocks install testcase
        luarocks install setenv
    -
      name: Install
      run: |
        luarocks make POSTGRES_COVERAGE=1
    -
      name: Run Test
      env:
        PGHOST: postgres
        PGPORT: 5432
        PGUSER: postgres
        PGPASSWORD: postgres
        PGDATABASE: postgres
      run: |
        testcase --coverage ./test/
    -
      name: Generate coverage reports
      run: |
        sh ./covgen.sh
    -
      name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests

